@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* base styles */
body {
  font-family: Raleway, sans-serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: #1b1523;
  color: #fff;
}
.front {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.back {
  width: 150px;
  height: 150px;
  object-fit: cover;
}