.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  border: 10px solid #f1356d;
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 600px;
  top: auto;
  width: 3em;
  height: 3em;
  font-size: 50px;
  border: 10px solid #f1356d;
}
.input{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  top: auto;
  width: 10em;
  height: 3em;
  font-size: 20px;
  border: 10px solid #f1356d;
}
.text-block{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  top: auto;
  width: 22em;
  height: 3em;
  font-size: 20px;
  border: 10px solid #f1356d;
}
.message{
  margin-top: 20px;
  color: blue;
}