.Cell {
  background-color: aquamarine;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
}

.Today {
  border: 3px solid red;
}

.Sunday {
  color: crimson;
}

.Saturday {
  color: blue;
}