.Cell {
  background-color: aquamarine;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.2s;;
}

.Cell:hover {
  background-color: #f0f0f0;
}

.Selected {
  background-color: gold !important;
  font-weight: bold;
}

.Today {
  border: 3px solid red;
}

.Sunday {
  color: crimson;
}

.Saturday {
  color: blue;
}