.Month {
  display: grid;
}

.DayBox {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 300px;
  height: 300px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}