<!DOCTYPE html>
<html lang="ja">
<%- include('./partials/head.ejs') %>
<body>

  <%- include('./partials/nav.ejs') %>
  
  <nav>
    <div class="not-found content">
      OOPS, page not found
    </div>
  </nav>
  <%- include('./partials/footer.ejs') %>
</body>
</html>